<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Recordings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<div style="margin-top: 20px;"></div>
<body>
    <!-- side bar -->
    <div class="sidebar" style="width:15%">
        <!-- home link -->
        <a class="button-link" style="margin: 20px" href="{{ url_for('index') }}">
            <!-- <span class="material-icons">arrow_back</span> -->
            Return
        </a>
        <!-- empty folder button -->
        <br><button id="delete-recordings" class="reset-button" type="button">Delete All</button>
    </div>

    <!-- main page content -->
    <div style="margin-left:15%">        
        <h1 style="text-align: center;">Saved Recordings</h1><br>
        <!-- delete error message -->
        <p id="delete-error" style="display: none; color: red; font-weight: bold;">
            Failed to delete.
        </p>
        <p id="empty-table" style="display: none; font-weight: bold; text-align: center;">
            No audio saved.
        </p>
        <table id="recording-list">
            <colgroup>
                <col span="1" style="width: 30%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <tr>
                <th>File</th>
                <th>Playback</th>
                <th>Download</th>
                <th>Delete</th>
            </tr>
        </table>    

        <!-- list of recordings needed to populate the table (completed in js) -->
        {% if n_recordings %}
            <script>
                const recordingsSaved = {{ n_recordings }};
                const recordingsList = {{ recordings | tojson }};
            </script>
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='audio_script.js') }}"></script>
</body>
</html>
